
<div>
    <p>{{msg}}</p>
<form action="/" method="post" style="margin: 150px auto; width:250px;height:500px">
    <input name="__RequestVerificationToken" type="hidden" value="Tt0hT6zqdLs81IsXBaJ6_4m0kBomOVl5xVBKp-gHwjNu0sYhn-ZUKEER9y128MlHAbwhRiOALxYFGFxIvL8STpVzNzLILdNrX3Jyq7tJEEA1" />            <div class="Absolute-Center.is-Responsive">
        <div class="panel panel-primary" style="width:400px">
            <div class="panel-heading">
                <h3 class="panel-title">SignIn</h3>
            </div>
            <div class="panel-body">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control col-md-4" data-val="true" data-val-required="username is required" id="username" name="username" placeholder="username" type="text" value="" ng-model="username" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="username" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control col-md-4" data-val="true" data-val-required="password is required" id="password" name="password" placeholder="Password" type="password" ng-model="password"/>
                    <span class="field-validation-valid text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                    <button id="btnSubmit" type="submit" formmethod="post" class="btn btn-def btn-block" style="text-align:center;background-color:lightblue">Login</button>
                </div>



            </div>
        </div>
    </div>
</form>
</div>